{% extends 'slip/base.html' %}
{% block navPrintBtn %}
{% endblock %}
{% block developer %}
{% endblock %}

{% block cssScript %}
<style>
	#loader-right{
		position: absolute;
		top:0px;
		margin-left: auto;
		margin-right: auto;
		right:0px;
	}
	#loader-left{
		position: absolute;
		top:0px;
		left:0px;
	}
	.error_page{
		position:relative;
		margin-left: auto;
		margin-right: auto;
		width: 60%;
		margin-top:10%;
	}
	.error_message{
	  width:80%;
	  position:relative;
		margin-left: auto;
		margin-right: auto;

	}
</style>
{% endblock %}